.e-rptdesigner-designarea.e-waitingpopup .customitem-barcode {
    background-image: url('images/barcode.png');
}

.e-rptdesigner-designarea.e-waitingpopup .customitem-qrbarcode {
    background-image: url('images/qrbarcode.png');
}

.e-rptdesigner-designarea:not(.e-waitingpopup) .customitem-barcode {
    background-image: url('images/barcode.svg');
}

.e-rptdesigner-designarea:not(.e-waitingpopup) .customitem-qrbarcode {
    background-image: url('images/qrbarcode.svg');
}

.e-rptdesigner-designarea.e-waitingpopup .customitem-barcode,
.e-rptdesigner-designarea.e-waitingpopup .customitem-qrbarcode {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 25px;
}

.e-rptdesigner-designarea:not(.e-waitingpopup) .customitem-barcode,
.e-rptdesigner-designarea:not(.e-waitingpopup) .customitem-qrbarcode {
    background-repeat: no-repeat;
    height: 42px;
    background-position: center;
}

.e-rptdesigner-itempanel-dragelements .customitem-barcode,
.e-rptdesigner-itempanel-dragelements .customitem-qrbarcode {
    margin-top: 0px !important;
    height: 100% !important;
}

.e-rptdesigner-loaderDiv .e-rptdesigner-spinnerDiv {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
