.e-rptdesigner-designarea:not(.e-waitingpopup) .customitem-pdfsignature {
    background-repeat: no-repeat;
    height: 42px;
    background-position: center;
    background-image: url('images/pdfsignature.svg');
}

.e-pdfsign-config {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    overflow: hidden;
    gap: 4px;
}

.e-rptdesigner-pdfsign {
    border: 1px dotted gray;
    width: 100%;
    height: 100%;
}

.e-pdfsign-dataConfig {
    flex-direction: column;
    gap: 4px;
    width: 50%;
    height: 100%;
    padding-top: 3px;
}

.e-pdfsign-signImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.e-pdfsign-signImg-bgImg {
    background-image: url('images/samplesignature.svg') !important;
}

.e-pdfsign-label {
    display: flex;
    gap: 7px;
}

.e-rptdesigner-pdfsign-editIcon {
    position: absolute;
    height: 17px;
    width: 24px;
    padding: 1px;
    right: 0px;
    z-index: 1003;
    top: 7px;
    background-image: url('images/editicon.svg');
    background-repeat: no-repeat;
}