<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ReportingExtensions" type="BoldReports.Configuration.Extensions, BoldReports.Web" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <ReportingExtensions>
    <ReportItems>
      <ReportItem Name="Barcode" Assembly="BoldReports.CRI.Barcode" Type="BoldReports.CRI.Barcode.BarcodeCustomReportItem" />
      <ReportItem Name="MatrixBarcode" Assembly="BoldReports.CRI.Barcode" Type="BoldReports.CRI.Barcode.BarcodeCustomReportItem" />
    </ReportItems>
  </ReportingExtensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <remove fileExtension=".cs" />
          <add fileExtension="." allowed="true" />
          <add fileExtension=".cs" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
