@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="barcode.rdl" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

}

@section description {
    <div id="description">
        <p>
            Custom Report Item allows you to add the functionality that is not natively supported in the RDL or extend the
            functionality of existing controls in the RDL standard.
        </p>
        <p>
            This report showcases the one-dimensional and two-dimensional barcode types rendered in our Report Viewer
            through Custom Report Item.
        </p>
        <p>
            More information about Barcode can be found in this <a
                href="https://help.boldreports.com/enterprise-reporting/designer-guide/report-designer/report-items/barcode/"
                target="_blank" rel="noreferrer">documentation</a> section.
        </p>
    </div>
}
