@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="sales-report.rdl" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

}

@section description {
    <div id="description">
        <p>
            This demo shows the sales order details using the table report item.
        </p>
        <ul>
            <li>
                The table is displayed with a total row, and the sum of sales is calculated by aggregation of <code>OrderQty</code> and <code>UnitPrice</code> data fields using the <a href="https://help.boldreports.com/on-premise/report-designer/compose-report/properties-panel/#set-expression"
                                                                                                                                                                                        target="_blank">Expression</a> support.
            </li>
            <li>
                The <code>Item Total</code> data text box is formatted in <b>Currency </b> <a href="https://help.boldreports.com/on-premise/report-designer/compose-report/format-data/"
                                                                                              target="_blank">format</a> to enhance the report design.
            </li>
        </ul>
        <p>
            More information about the Tablix data region can be found in this <a href="https://help.boldreports.com/on-premise/report-designer/report-items/tablix/"
                                                                                  target="_blank">documentation</a> section.
        </p>
    </div>
}
