.e-reportviewer .e-reportviewer-toolbarcontainer ul.e-ul:nth-child(4) {
    border-style: none;
    float: right;
}

.e-reportdesigner .e-reportviewer-toolbarcontainer ul.e-ul:nth-child(4) {
    float: left;
}

.e-reportviewer .e-reportviewer-toolbarcontainer.e-toolbar {
    padding-right: 0px;
}

.e-reportviewer-icon.ej-webicon {
    font-family: 'ej-webfont';
}

.ej-body.e-hidden,
.splash.e-hidden {
    display: none;
}

.splash {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.message {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.loader {
    margin: auto;
    width: 70px;
    text-align: center;
}

    .loader > div {
        width: 18px;
        height: 18px;
        background-color: black;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .loader .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {

    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {

    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
