.ej-main-parent-content {
    position: absolute;
    left: 0;
    top: 48px;
    bottom: 0;
    right: 0;
    transition: left 400ms ease;
}

.ej-main-child-content {
    position: absolute;
    left: 170px;
    bottom: 0;
    right: 0;
    top: 0;
    transition: left 400ms ease;
    overflow: hidden;
}

.mobile-overlay {
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000005;
}

    .mobile-overlay.e-hidden {
        display: none;
    }

ej-header {
    display: block;
}

ej-sidebar {
    position: absolute;
    background-color: #fff;
    width: 170px;
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow-y: auto;
    transition: left 400ms ease;
}

.ej-toc-slide-left {
    left: -170px;
}

@media only screen and (max-width: 550px) {
    ej-sidebar {
        position: fixed;
        z-index: 1000005;
        left: -170px;
        background-color: #f8f8f8;
    }

        ej-sidebar.ej-toc-mobile-slide-left {
            left: 0;
        }

    .ej-main-child-content {
        left: 0;
    }
}

body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
}

@font-face {
    font-family: 'ejicons';
    src: url('./../../assets/sb-icons/fonts/icons.ttf?gcjn6a') format('truetype'), url('./../../assets/sb-icons/fonts/icons.woff?gcjn6a') format('woff'), url('./../../assets/sb-icons/fonts/icons.svg?gcjn6a#sbicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ej-sb-icons {
    font-family: 'ejicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.e-reportviewer-icon.ej-webicon {
    font-family: 'ej-webfont';
}
