.ej-main-body-content {
    background-color: #fafafa;
}

    .ej-main-body-content #parentTabContainer {
        border: 1px solid #D7D7D7;
    }

    .ej-main-body-content .ej-title {
        font-size: 18px;
        padding: 20px 0 20px 18px;
        margin: 0;
        font-weight: bold;
    }

    .ej-main-body-content .ej-meta-description {
        font-size: 14px;
        padding: 0px 0 15px 18px;
        margin: 0;
    }

    .ej-main-body-content .ej-nav-header {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-bottom: 1px solid #d7d7d7;
    }

        .ej-main-body-content .ej-nav-header .ej-nav-item {
            height: 38px;
            line-height: 38px;
            display: flex;
            align-items: center;
        }

            .ej-main-body-content .ej-nav-header .ej-nav-item.e-hidden {
                display: none;
            }

            .ej-main-body-content .ej-nav-header .ej-nav-item a {
                font-weight: 600;
                padding: 0 12px;
                display: flex;
                align-items: center;
                color: #2b3a5c;
                border-bottom: 2px solid transparent;
                text-decoration: none;
            }

                .ej-main-body-content .ej-nav-header .ej-nav-item a:hover {
                    color: #2b3a5c;
                    text-decoration: none;
                }

                .ej-main-body-content .ej-nav-header .ej-nav-item a.active {
                    color: #ff5f23;
                    border-color: #ff5f23;
                }

    .ej-main-body-content .ej-tab-content .tab-pane {
        animation: slideleft 0.4s;
        position: relative;
    }
        .ej-main-body-content .ej-tab-content .tab-pane#ej-description {
            font-size: 14px;
            margin: 20px 0 15px 15px;
        }

.tab-pane#ej-description {
    font-size: 14px;
    margin: 25px 3px 20px 20px;
}
 
.tab-pane form{
  margin-bottom: -7px;
}
@keyframes slideleft {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

.ej-main-body-content #parentTab .ej-demo-icon {
    margin-bottom: -2px;
}

    .ej-main-body-content #parentTab .ej-demo-icon:before {
        content: '\e92e';
        margin-right: 5px;
        font-size: 20px;
    }

.ej-main-body-content #parentTab .ej-source-icon {
    margin-bottom: -2px;
}

    .ej-main-body-content #parentTab .ej-source-icon:before {
        content: '\e92d';
        margin-right: 5px;
        font-size: 20px;
    }
.ej-main-body-content #parentTab .ej-description-icon {
    margin-bottom: -2px;
}

    .ej-main-body-content #parentTab .ej-description-icon:before {
        content: '\e902';
        margin-right: 5px;
        font-size: 20px;
    }

.ej-main-body-content #parentTab .ej-nav {
    position: absolute;
    right: 0;
    opacity: 0.87;
}

    .ej-main-body-content #parentTab .ej-nav .new-tab {
        display: flex;
    }

@media only screen and (max-width: 550px) {
    .ej-main-body-content #parentTab .ej-nav .new-tab {
        display: none;
    }
}

.ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item {
    font-size: 25px;
    cursor: pointer;
}

    .ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item .ej-nav-new {
        border-left: 1px solid #c4c4c4;
        padding: 0 10px;
    }

        .ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item .ej-nav-new:before {
            content: '\e91d';
        }

    .ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item.ej-nav-prev {
        border-left: 1px solid #c4c4c4;
        padding: 0 10px;
    }

        .ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item.ej-nav-prev:before {
            content: '\e91f';
        }

    .ej-main-body-content #parentTab .ej-nav .ej-nav-sub-item.ej-nav-next:before {
        content: '\e91b';
        padding-right: 10px;
    }

.ej-main-body-content #childTabContainer .tab-pane {
    white-space: pre;
    padding: 10px;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    overflow: auto;
    height: 320px;
    font-size: 13px;
    font-weight: 400;
}

.ej-main-body-content #parentTab .ej-sb-icons{
    color: #333;
}

/* Banner */

#footer-banner > * {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
  }
  #footer-banner {
    background-image: url('./../../assets/footer/bg-texture.png');
    background-color: #CCFEC6;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    color: #283A5E;
    margin: 30px 0px;
    width: 100%;
    height: 121px;  
  }
  
  .header {
    font-weight: 800;
    font-size: 23px;
    color: #283A5E;
    width: calc(100% - 60px);
    height: 32px;
    padding: 21px 0 0 40px;  
  }
  
  .content-area {
    margin-left: 15px;
  }
  
  .cnt-pt {
    margin: 35px 0px 5px 25px;
  }
  
  .cnt-text {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 10px 0px 0px;
    display: table-cell;  
    line-height: 7px;
  }
  
  .free-trial {
    width: 158px;
    height: 45px;
    font-size: 14px;
    padding-top: 11px;
    background-color: #F14400;
    border-radius: 4px;
    margin: -52px 25px 0px 0px;
    font-weight: 700;
    float: right;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer; 
  }
  .free-trial-url, .free-trial-url:hover {
      text-decoration: none;
  }
  
  @media only screen and (min-width: 810px) and (max-width: 1450px) {
    #footer-banner {
      height: auto;
    }
    .header {
      padding: 58px 0px 14px 60px;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      height: auto;
    } 
    .content-area {
      padding: 0px 20px 0px 85px;
      justify-content: left;
    }
    .cnt-text {
      font-size: 20px;
      padding: 10px 10px 0px 6px;
    }
    .cnt-pt {
      margin: 10px 0px 0px 19px;
    }
    .free-trial-url{
      padding: 44px 0 58px 0;
      display: block;
    } 
    .free-trial {
      width: 188px;
      font-size: 18px;
      margin: 0px auto 0px;
      float: none;
    }
  }
  
   @media only screen and (min-width: 300px) and (max-width: 809.9px) {
    #footer-banner {
      height: auto;
    }
    .header {
      padding: 48px 0px 14px 60px;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      height: auto;
    }  
    .content-area {
      padding: 0px 20px 0 40px;
      justify-content: left;
    } 
    .cnt-text {
      font-size: 16px;
      line-height: 15px;
      padding: 10px 10px 0px 6px;
    }
    .cnt-pt {
      margin: 2px 12px 2px 25px
    }
    .free-trial-url {
      padding: 32px 0 48px 0;
      display: block;
    } 
    .free-trial {
      margin: 0px auto 0px;
      float: none;
    }
  }
  
  /* Footer */
  .ej-lp-footer {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #D7D7D7;
    display: table;
    width: 100%;
    margin-top: 10px;
  }
  
  .ej-lp-footer .ej-lp-footer-links a {
    color: #ff5f23;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .ej-lp-footer .ej-lp-footer-copyright {
    line-height: 7px;
    float: right;
  }
  
  .ej-lp-footer > div {
    display: table-cell;
  }
  
  /* tick in css */
  .tick-mark {
    display: table-cell;
    width: 18px;
    height: 18px;
    /* background: #c9ff00; */
    border-radius:50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .tick-mark:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: #F14400;
    left: 11px;
    top: 8px;
  }
  
  .tick-mark:after{
    content: "";
    position: absolute;
    /* width: 4px; */
    width: 5px;
    height: 2px;
    background-color: #F14400;
    left: 8px;
    top: 16px;
  }

  @media only screen and (min-width: 300px) and (max-width: 872px) {
    .ej-main-body-content .ej-lp-footer {
      display: block;
    }

  .ej-main-body-content .ej-lp-footer .ej-lp-footer-copyright {
    padding: 10px;
  }
}

@media (max-width: 1095px) {
  .ej-lp-footer .ej-lp-footer-links {
    display: none;
  }
  .ej-main-body-content .ej-lp-footer .ej-lp-footer-copyright {
    float: left;
    line-height: 21px;
  }
}