.ej-sidebar-content .ej-sb-home {
    height: 38px;
    margin: 8px 10px 8px 28px;
    cursor: pointer;
}

    .ej-sidebar-content .ej-sb-home::before {
        content: '\e915';
        font-size: 25px;
        opacity: 0.54;
        margin-right: 8px;
    }

    .ej-sidebar-content .ej-sb-home .ej-sb-home-text {
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        display: inline-block;
        vertical-align: text-bottom;
        font-size: 13px;
        opacity: 0.87;
        font-weight: 600;
    }

.ej-sidebar-content .ej-sb-toc {
    cursor: pointer;
}

    .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card {
        width: 150px;
        margin: 8px auto;
        text-align: center;
        border: 2px solid transparent;
        position: relative;
    }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card:hover,
        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card.toc-selected {
            border-color: #ff5f23;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-landscape-img {
            display: inline-flex;
            height: 70px;
            width: 120px;
            margin: 8px;
            background-image: url('./../../assets/sidebar/landscape.png');
            background-size: 100% 1200%;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-portrait-img {
            display: inline-flex;
            height: 120px;
            width: 90px;
            margin: 8px;
            background-image: url('./../../assets/sidebar/portrait.png');
            background-size: 100% 1600%;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-sb-toc-title {
            font-size: 12px;
            font-weight: 600;
            color: #2b3a5c;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label {
            display: inline-block;
            height: 20px;
            font-size: 12px;
            color: #FFFFFF;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 1.8;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label::before {
            content: '';
            position: absolute;
            top: 0;
            border-color: transparent;
            border-style: solid;
            border-top-width: 10px;
            border-right-width: 5px;
            border-bottom-width: 10px;
            border-left-width: 5px;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label.ej-updated {
            background-color: #ff663e;
            width: 55px;
            padding-right: 4px;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label.ej-new {
            background-color: #0f8521;
            width: 42px;
            padding-right: 6px;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label.ej-new::before {
            right: 42px;
            border-right-color: #0f8521;
            border-top-color: #0f8521;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card .ej-status-label.ej-updated::before {
            right: 55px;
            border-right-color: #ff663e;
            border-top-color: #ff663e;
        }

        .ej-sidebar-content .ej-sb-toc .ej-sb-toc-card.toc-selected .ej-sb-toc-title {
            color: #ff5f23;
        }