@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="product-catalog.rdlc" report-loaded="onReportLoaded" processing-mode="Local" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

    <script>
        function onReportLoaded(args) {
            let reportNameWithoutExt = args.model.reportPath.split(".")[0];
            let reportObj = $('#reportviewer').data("boldReportViewer");
            reportObj.model.dataSources = rdlcData[reportNameWithoutExt];
        }
    </script>

}

@section description {
    <div id="description">
        <p>
            This report shows Mountain bike products information using the <a
                href="https://help.boldreports.com/on-premise/report-designer/report-items/tablix/"
                target="_blank">Tablix</a> report item in RDLC report.
        </p>
        <ul>
            <li>The table is displayed with Product no, image, name, size, weight and cost.</li>
            <li>The data used in this table is a local JSON data.</li>
        </ul>
        <p>
            More information about RDLC report can be found in this <a
                href="https://help.boldreports.com/javascript/report-viewer/rdlc-report/" target="_blank">documentation</a>
            section.
        </p>
    </div>
}
