@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="website-visitor-analysis.rdl" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

}

@section description {
    <div id="description">
        <p>
            In a digital marketing environment, website visitor analysis is one of the key factors to analyze and monitor how visitors are referred to a page, how long they spend in a page, and where they go next.
        </p>
        <p>
            In this demo, such data of a fictitious e-commerce website are illustrated using often used data regions such as pie, column, and smooth line charts and table in Bold Reports Report Viewer.
        </p>
        <p>
            More information about chart data region can be found in this <a href="https://help.boldreports.com/on-premise/report-designer/report-items/chart/"
                                                                             target="_blank">documentation</a> section.
        </p>
    </div>
}
