@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="infographics-report.rdl" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

}

@section description {
    <div id="description">
        <p>
            The Infographics Report showcases the overall academic performance of a college through graphical representations, utilizing the Bold Reports <code>image</code> report item for visually engaging insights.
        </p>
        <ul>
            <li>The report  presents  student demographics, academic achievements, and study preferences through visually engaging infographics, seamlessly incorporating the concept.</li>
            <li>It provides visual insights into key metrics such as graduation rates, course interests, and study habits.</li>
        </ul>
        <p>
            More information about the image report item can be found in this <a
                href="https://help.boldreports.com/enterprise-reporting/designer-guide/report-designer/image-manager/"
                target="_blank" rel="noreferrer">documentation</a> section.
        </p>
    </div>
}
