@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="territory-sales.rdl" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

}

@section description {
    <div id="description">
        <p>
            This demo shows the sales territory and its total sales using drilldown with table report in Bold Report Viewer. Rows with
            details are initially hidden with general summarized picture of the data, and data is drilled down to discover the sales order details.
        </p>
        <ul>
            <li>
                The data is grouped as a hierarchy using the <code>Row Grouping</code> feature with table data region.
            </li>
            <li>
                Interactive expand and collapse are achieved using the <code>Toggle</code> property in table data region.
            </li>
        </ul>
        <p>
            More information about the table data region can be found in this <a href="https://help.boldreports.com/on-premise/report-designer/report-items/tablix/"
                                                                                 target="_blank">documentation</a> section.
        </p>
    </div>
}
