@inject Globals globals;

@section control {

    <bold-report-viewer id="reportviewer" report-service-url="@Globals.SERVICE_URL" report-path="spark-line.rdlc" report-loaded="onReportLoaded" processing-mode="Local" toolbar-rendering="onToolbarRendering" tool-bar-item-click="onToolBarItemClick" export-item-click="onExportItemClick" />

    <script>
        function onReportLoaded(args) {
            let reportNameWithoutExt = args.model.reportPath.split(".")[0];
            let reportObj = $('#reportviewer').data("boldReportViewer");
            reportObj.model.dataSources = rdlcData[reportNameWithoutExt];
        }
    </script>

}

@section description {
<div id="description">
    <p>
        A sparkline is a small embedded line graph that illustrates a single trend. In this report, sales data are
        interpreted to visualize the sales trends using <a
            href="https://help.boldreports.com/embedded-reporting/react-reporting/report-designer/designer-guide/report-items/sparkline/"
            target="_blank">Spark Line</a> report items.
    </p>
    <p>
        More information about RDLC report can be found in this <a
            href="https://help.boldreports.com/javascript/report-viewer/rdlc-report/" target="_blank">documentation</a>
        section.
    </p>
</div>
}
