/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
.e-dialog.e-dialog-wrap {
  background: white;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
.e-dialog .e-dialog-icon:hover {
  border-image: initial;
  border-color: #e0e0e0;
  
}
.e-dialog .e-dialog-icon:hover {
  background: #e0e0e0;
}
.e-dialog-modal {
  overflow: hidden;
}
.e-dialog .e-dialog-icon:hover {
  background: white;
}
.e-dialog.e-disable .e-dialog-icon:hover {
  background: transparent;
}
.e-dialog .e-dialog-icon:before {
  
  line-height: 1.5;
}
.e-dialog .e-dialog-icon:before {
  color: rgba(0, 0, 0, 0.54);
}
.e-dialog > .e-header {
  
}
.e-dialog > .e-header {
  font-size: 20px;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
.e-titlebar + div.e-dialog-scroller .e-widget-content {
  
}
.e-dialog.e-dialog-wrap:not(.e-shadow) {
  
}
.e-dialog > .e-titlebar {
  
}
.e-dialog > .e-titlebar {
  box-shadow: 0 1.83px 1px transparent;
  padding: 24px 24px 0px;
}
.e-dialog.e-shadow {
  
}
.e-dialog.e-shadow {
  box-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.26);
}
.e-dialog.e-widget-content {
  
}
.e-dialog.e-widget-content {
  font-size: 15px;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
  color: rgba(0, 0, 0, 0.54);
  padding: 20px 24px 24px 24px;
  font-weight: 400;
  line-height: 1.5;
}
.e-dialog.e-widget-content.e-load {
  background-image: url(images/ajax-loader.gif);
  background-position: center;
  background-repeat: no-repeat;
}
.e-overlay {
  background-color: #424242;
  
}
.e-dialog > .e-dialog-scroller {
  
}
.e-dialog > .e-dialog-scroller {
  border: none;
}
.e-dialog .e-dialog-icon:hover:before {
  
}
.e-dialog > .e-footerbar {
  position: relative;
  
  background: white;
}
.e-dialog > .e-footerbar {
  height: 36px;
  padding: 8px;
  border: none;
}
.e-dialog > .e-footerbar > .e-icon.e-resize-handle.e-resizable.e-js {
  position: absolute;
  cursor: se-resize;
  bottom: 0;
  right: 0;
}
.e-corner.e-dialog > .e-footerbar {
  border-radius: 0px 0px 3px 3px;
}
.e-corner .e-dialog-content {
  border-radius: 3px;
}
.e-corner .e-dialog-bottom {
  border-radius: 0px 0px 3px 3px;
}
.e-corner .e-dialog-top {
  border-radius: 3px 3px 0px 0px;
}
.e-dialog .e-scrollbar .e-icon {
  display: block;
}
.e-dialog .e-scrollbar .e-icon {
  display: block;
}
.e-dialog .e-dialog-icon::after {
  background: rgba(0, 0, 0, 0.12);
}
.e-dialog > .e-icon.e-resizable:before {
  display: none;
}
.e-dialog .e-dialog-icon {
  
}
.e-dialog .e-dialog-icon {
  top: 3px;
}
.e-dialog .e-dialog-icon.e-icon.e-close {
  font-size: 12px;
}
.e-dialog .e-dialog-icon.e-icon.e-close:before {
  
}
.e-dialog .e-dialog-icon.e-icon.e-close:before {
  content: "\e69e";
}
.e-dialog .e-dialog-icon.e-icon.e-arrowhead-up:before {
  
}
.e-dialog .e-dialog-icon.e-icon.e-arrowhead-up:before {
  content: "\e672";
}
.e-dialog .e-dialog-icon.e-icon.e-arrowhead-down:before {
  
}
.e-dialog .e-dialog-icon.e-icon.e-arrowhead-down:before {
  content: "\e673";
}
.e-dialog .e-draggable {
  touch-action: none;
}
.e-dialog.e-widget-content .e-pager .e-firstpage,
.e-dialog.e-widget-content .e-pager .e-prevpage,
.e-dialog.e-widget-content .e-pager .e-firstpagedisabled,
.e-dialog.e-widget-content .e-pager .e-prevpagedisabled,
.e-dialog.e-widget-content .e-pager .e-nextpage,
.e-dialog.e-widget-content .e-pager .e-lastpage,
.e-dialog.e-widget-content .e-pager .e-nextpagedisabled,
.e-dialog.e-widget-content .e-pager .e-lastpagedisabled {
  padding: 9px 3px 1px 9px;
}
.e-dialog.e-widget-content .e-pager .e-firstpage,
.e-dialog.e-widget-content .e-pager .e-prevpage,
.e-dialog.e-widget-content .e-pager .e-firstpagedisabled,
.e-dialog.e-widget-content .e-pager .e-prevpagedisabled,
.e-dialog.e-widget-content .e-pager .e-nextpage,
.e-dialog.e-widget-content .e-pager .e-lastpage,
.e-dialog.e-widget-content .e-pager .e-nextpagedisabled,
.e-dialog.e-widget-content .e-pager .e-lastpagedisabled {
  
}
