/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*------------------------------------- splitter -------------------------------------------*/

.e-splitter {
  border-color: #e0e0e0;
}
.e-splitter .e-pane {
  background-color: white;
  color: #212121;
}
.e-splitter .e-splitbar.e-shadowbar.e-end-indicaton,
.e-splitter .e-splitbar .e-end-indicaton {
  background-color: #fef1ec;
}
.e-splitter .e-splitbar.e-shadowbar {
  
}
.e-splitter .e-splitbar.e-shadowbar {
  background: whitesmoke;
}
.e-splitter .e-splitbar {
  
}
.e-splitter .e-splitbar {
  background-color: #e0e0e0;
}
.e-splitter .e-splitbar {
  border-color: #e0e0e0;
}
.e-splitter .e-splitbar .e-icon {
  color: #424242;
}
.e-splitter .e-splitbar:hover .e-icon,
.e-splitter .e-splitbar.e-hover .e-icon {
  color: #424242;
}
.e-splitter .e-hover.e-splitbar.e-split-divider,
.e-splitter .e-splitbar.e-split-divider:hover {
  
}
.e-splitter .e-hover.e-splitbar.e-split-divider,
.e-splitter .e-splitbar.e-split-divider:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
.e-splitter .e-splitbar .e-icon.e-arrow-sans-left:before {
  content: "\e630";
}
.e-splitter .e-splitbar .e-icon.e-arrow-sans-right:before {
  content: "\e62f";
}
.e-splitter .e-splitbar > .e-icon.v-backward:before,
.e-splitter .e-splitbar > .e-icon.e-arrow-sans-left:before,
.e-splitter .e-splitbar > .e-icon:before {
  font-size: 8px;
}
.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-right {
  
}
.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-right {
  left: -1.25px;
}
.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-left {
  
}
.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-left {
  left: -1px;
}
.e-splitter .e-splitbar.e-h-bar {
  
}
.e-splitter .e-splitbar.e-h-bar {
  width: 8px;
}
.e-splitter .e-splitbar .e-activebar {
  
}
.e-splitter .e-splitbar .e-activebar {
  display: block;
}
.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-left {
  margin-top: -13px;
}
/*&.e-splitter .e-splitbar .e-h-arrow.e-arrow-sans-right {
  & when (@skin= "material") {
     top:62%;
  }
}*/

.e-splitter .e-splitbar .e-icon.e-arrow-sans-up:before {
  content: "\e67d";
}
.e-splitter .e-splitbar .e-icon.e-arrow-sans-down:before {
  content: "\e631";
}
.e-splitter .e-splitbar.e-v-bar {
  
}
.e-splitter .e-splitbar.e-v-bar {
  height: 8px;
}
.e-splitter .e-splitbar .e-v-arrow.e-icon.e-arrow-sans-up:before {
  
}
.e-splitter .e-splitbar .e-v-arrow.e-arrow-sans-up {
  
}
.e-splitter .e-splitbar .e-v-arrow.e-arrow-sans-up {
  top: -0.5px;
  margin-left: -16px;
}
.e-splitter .e-splitbar .e-v-arrow.e-icon.e-arrow-sans-down:before {
  
}
.e-splitter .e-splitbar .e-v-arrow.e-arrow-sans-down {
  
}
.e-splitter .e-splitbar .e-v-arrow.e-arrow-sans-down {
  top: -0.5px;
}
.e-splitter .e-splitbar.e-v-bar .e-activebar {
  
}
.e-splitter .e-splitbar.e-v-bar .e-activebar {
  height: 2px;
  width: 14px;
  margin-top: 2px;
  background: black;
}
.e-splitter .e-splitbar.e-v-bar .e-activebar:before {
  
}
.e-splitter .e-splitbar.e-h-bar .e-activebar {
  
}
.e-splitter .e-splitbar.e-h-bar .e-activebar {
  height: 14px;
  width: 2px;
  margin-left: 2px;
  background: black;
}
.e-splitter .e-splitbar.e-h-bar .e-activebar:before {
  
}
.e-splitter .e-splitbar.e-h-bar .e-activebar:before {
  height: 100%;
  width: 100%;
  display: block;
}
.e-splitter .e-h-arrow.e-arrow-sans-right {
  margin-top: 19px;
}
.e-splitter .e-v-arrow.e-arrow-sans-down {
  margin-left: 21px;
}
.e-splitter .e-splitbar.e-h-bar.e-icon-hide .e-activebar,
.e-splitter .e-splitbar.e-v-bar.e-icon-hide .e-activebar {
  
}
.e-splitter .e-splitbar.e-h-bar.e-icon-hide .e-icon.e-arrow-sans-right {
  
}
.e-splitter .e-splitbar.e-h-bar.e-icon-hide .e-icon.e-arrow-sans-left {
  
}
.e-splitter .e-splitbar.e-v-bar.e-icon-hide .e-icon.e-arrow-sans-up {
  
}
.e-splitter .e-splitbar.e-v-bar.e-icon-hide .e-icon.e-arrow-sans-down {
  
}
.e-splitter.e-rtl .e-h-arrow.e-arrow-sans-left {
  left: -3.4px;
}
.e-splitter.e-rtl .e-h-arrow.e-arrow-sans-right {
  
}
.e-splitter.e-rtl .e-h-arrow.e-arrow-sans-right {
  left: -4px;
}
.e-splitter.e-rtl .e-splitbar.e-h-bar .e-activebar {
  
}
.e-splitter.e-rtl .e-splitbar.e-h-bar .e-activebar {
  margin-right: 2px;
}
.e-splitter.e-rtl .e-splitbar .e-v-arrow.e-arrow-sans-up {
  margin-left: -21px;
}
.e-splitter .e-splitbar.e-v-bar.e-resize {
  cursor: row-resize;
}
.e-splitter .e-splitbar.e-h-bar.e-resize {
  cursor: col-resize;
}
.e-splitter .e-splitbar .e-splitter-h-template {
  cursor: pointer;
  position: fixed;
  top: 30%;
}
.e-splitter .e-splitbar .e-splitter-v-template {
  cursor: pointer;
  position: fixed;
  left: 49%;
}
