/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*Theme Color*/

.e-rangeScroll-select {
  fill: whitesmoke;
  stroke: #e0e0e0;
}
.e-rangeScroll-select:hover {
  fill: #e0e0e0;
  stroke: #e0e0e0;
}
.e-rangeScroll-select:active {
  fill: #e0e0e0;
  stroke: #e0e0e0;
}
.e-rangeScroll-select-hover {
  fill: #e0e0e0;
  stroke: #e0e0e0;
}
.e-rangeScroll-backRect {
  fill: white;
  stroke: #e0e0e0;
}
.e-rangeScroll-arrow {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-arrow:hover {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-arrow:active {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-centerShape {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-leftCircle,
.e-rangeScroll-rightCircle {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-leftCircle:hover,
.e-rangeScroll-rightCircle:hover {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-leftCircle:active,
.e-rangeScroll-rightCircle:active {
  fill: #424242;
  stroke: #424242;
}
.e-rangeScroll-leftRect:hover + .e-rangeScroll-leftCircle,
.e-rangeScroll-rightRect:hover + .e-rangeScroll-rightCircle,
.e-rangeScroll-leftRect:active + .e-rangeScroll-leftCircle,
.e-rangeScroll-rightRect:active + .e-rangeScroll-rightCircle {
  fill: #424242;
  stroke: #424242;
}
