/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*------------------------------------- Tooltip -------------------------------------------*/

.e-tooltip-wrap {
  
}
.e-tooltip-wrap {
  /*material*/
  border-radius: 2px;
  border: 0px solid #e0e0e0;
  background-color: #616161;
}
.e-tooltip-wrap .e-arrowTipOuter {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 0px;
  top: 0px;
  position: absolute;
  
}
.e-tooltip-wrap .e-arrowTipOuter {
  /*material*/
  border: none !important;
  border-top: 10px solid none;
}
.e-tooltip-wrap .e-arrowTipInner {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  
  left: 1px;
  top: 0px;
  position: absolute;
}
.e-tooltip-wrap .e-arrowTipInner {
  border-top: 9px solid #616161;
}
.e-def {
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
  line-height: 18px;
  
}
.e-def {
  /*material*/
  font-size: 10px;
  color: white;
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader {
  
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader {
  background: none repeat scroll 0 0 #3f51b5;
  border-bottom: 3px solid #3f51b5;
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader .e-close:before {
  
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader .e-close:before {
  color: white;
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader .e-close:hover {
  
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader .e-close:hover {
  color: #424242;
  border-color: #e0e0e0;
}
.e-tooltip-wrap .e-tipContainer .e-tooltipHeader .e-close:hover {
  background: #e0e0e0;
}
.e-tooltip-wrap .e-cross-circle:hover {
  color: #424242;
  border-color: #e0e0e0;
}
.e-tooltip-wrap .e-cross-circle:hover {
  background: #e0e0e0;
}
