/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*------------------------------reportviewer Theme Start-------------------------------*/

.e-reportviewer-outerborder:hover {
  border-color: #e0e0e0;
  color: #212121;
}
.e-reportviewer-outerborder:hover {
  background: #e0e0e0;
}
.e-reportviewer-tbdiv.e-reportviewer-exporttip {
  border-color: #e0e0e0;
  
}
.e-reportviewer-tbdiv.e-reportviewer-exporttip {
  background: whitesmoke;
}
.e-reportviewer-tbdiv.e-reportviewer-exporttip {
  /*material*/
  background-color: white !important;
}
.e-reportviewer-tbdiv.e-reportviewer-fittopagetip {
  border-color: #e0e0e0;
  
}
.e-reportviewer-tbdiv.e-reportviewer-fittopagetip {
  background: whitesmoke;
}
.e-reportviewer-tbdiv.e-reportviewer-fittopagetip {
  /*material*/
  background-color: white !important;
}
.e-reportviewer-tbdiv.e-reportviewer-tooltip {
  
  border-color: #e0e0e0;
}
.e-reportviewer-tbdiv.e-reportviewer-tooltip {
  /*material*/
  background-color: #616161;
}
.e-reportviewer-headerspan,
.e-reportviewer-contentspan {
  
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial !important;
}
.e-reportviewer-headerspan,
.e-reportviewer-contentspan {
  /*material*/
  color: white;
}
.e-reportviewer-viewer {
  font-size: 14px;
}
.e-reportviewer-popuppageno,
.e-reportviewer-popuptotalpage {
  color: white;
}
.e-reportviewer-toolbarcontainer .ejinputtext {
  
}
.e-reportviewer-toolbarcontainer .ejinputtext {
  /*material*/
  background-color: #fafafa !important;
  font-size: 16px;
}
.e-reportviewer-viewerblock {
  
}
.e-reportviewer-viewerblock {
  /*material*/
  background-color: #fafafa;
  font-size: 13px;
  color: black;
}
.e-reportviewer-viewerblockcellcontent {
  
}
.e-reportviewer-viewerblockcellcontent {
  /*material*/
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
  font-size: 13px;
  color: black;
  opacity: 87;
}
.e-reportviewer-viewreport {
  border-left-color: #e0e0e0;
  
}
.e-reportviewer-viewreport {
  /*material*/
  padding-left: 40px;
}
.e-reportviewer-scrollcontainer,
.e-reportviewer-viewer > .e-splitter .e-pane {
  
}
.e-reportviewer-scrollcontainer,
.e-reportviewer-viewer > .e-splitter .e-pane {
  /*material*/
  background-color: #eeeeee;
}
.e-reportviewer-pageviewcontainer {
  
}
.e-reportviewer-pageviewcontainer {
  /*material*/
  background-color: #eeeeee;
}
.e-reportviewer-pageview {
  
}
.e-reportviewer-pageview {
  /*material*/
  -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.16);
  border-color: gray;
}
.e-reportviewer-label,
.e-reportviewer-tbpage,
.e-reportviewer-elementalignments,
.e-reportviewer-textbox {
  color: #212121;
}
.e-reportviewer-label,
.e-reportviewer-tbpage,
.e-reportviewer-elementalignments,
.e-reportviewer-textbox {
  font-size: 14px;
  font-weight: normal;
}
.e-reportviewer-labelpageno {
  font-size: 16px !important;
}
.e-reportviewer-documentmapcontainer div,
.e-reportviewer-documentmappopup {
  background-color: #ebebeb;
}
.e-reportviewer-pagepopupinfo {
  background-color: black;
}
.e-reportviewer-viewerblock,
.e-reportviewer-pagenumber,
.e-reportviewer-tbpage,
.e-reportviewer-tbdiv.e-reportviewer-exportlist,
.e-reportviewer-label,
.e-reportviewer-labelpageno {
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial !important;
}
.e-reportviewer-toolbarcontainer,
.e-reportviewer-viewerblock,
.e-reportviewer-viewercontainer,
.e-reportviewer-elementalignments,
.e-reportviewer-viewerblockcellcontent,
.e-reportviewer-viewerblockcontent,
.e-reportviewer-textbox,
.e-reportviewer-documentmappopup {
  
}
.e-reportviewer-toolbarcontainer,
.e-reportviewer-viewerblock,
.e-reportviewer-viewercontainer,
.e-reportviewer-elementalignments,
.e-reportviewer-viewerblockcellcontent,
.e-reportviewer-viewerblockcontent,
.e-reportviewer-textbox,
.e-reportviewer-documentmappopup {
  /*material*/
  border-color: #e0e0e0;
}
.e-reportviewer-printExportLoading {
  font-style: italic;
  font-weight: bolder;
  font-size: larger;
  opacity: 0.7;
  color: black;
  background-color: rgba(56, 56, 56, 0.2);
}
.e-reportviewer-popupli:hover {
  
}
.e-reportviewer-popupli:hover {
  background: #e0e0e0;
}
.e-reportviewer-popupli:hover {
  background-color: #eeeeee;
}
.e-reportviewer-popupli {
  
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.e-reportviewer-popupli {
  color: #212121 !important;
}
.e-reportviewer-toolbarli.e-reportviewer-ejdropdownlist .e-rptviewer-drpdown .e-in-wrap.e-box {
  border-style: none;
}
.e-reportviewer-toolbarli.e-reportviewer-ejdropdownlist .e-rptviewer-drpdown .e-in-wrap.e-box .e-input,
.e-reportviewer-toolbarli.e-reportviewer-ejdropdownlist .e-rptviewer-drpdown .e-in-wrap.e-box .e-select {
  background-color: transparent;
}
.e-reportviewer-gotonext.e-reportviewer-disabled,
.e-reportviewer-gotoprevious.e-reportviewer-disabled,
.e-reportviewer-gotolast.e-reportviewer-disabled,
.e-reportviewer-gotofirst.e-reportviewer-disabled {
  opacity: 0.5;
}
.e-reportviewer-viewreportbutton {
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial !important;
  
}
.e-reportviewer-alert-icon {
  color: #f44336;
  font-size: 40px;
}
.e-reportviewer-error-content {
  
  font-size: 12.5px;
}
.e-reportviewer-scroller .e-scrollbar .e-icon {
  font-size: 0;
}
.e-tooltip-wrap .e-widget .e-rptviewer-tooltip {
  pointer-events: none;
}
/*------------------------------reportviewer Theme End-------------------------------*/

