/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*------------------ DatePicker ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #e0e0e0;
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*Theme Color*/

.e-radiobtn-wrap > span {
  background-image: none;
  
}
.e-radiobtn-wrap > span {
  /*material*/

  border-color: rgba(0, 0, 0, 0.54);
  background-color: white;
}
.e-radiobtnwrap.e-disable > span,
.e-radiobtn-wrap.e-disable > span.e-rad-active,
.e-radiobtn-wrap.e-disable > span.e-rad-active:hover,
.e-radiobtn-wrap.e-disable .e-circle_01,
.e-radiobtn-wrap.e-disable > span:hover {
  border-color: rgba(0, 0, 0, 0.26);
}
.e-radiobtn-wrap > span.e-rad-active,
.e-radiobtn-wrap > span.e-rad-active:hover {
  
}
.e-radiobtn-wrap > span.e-rad-active,
.e-radiobtn-wrap > span.e-rad-active:hover {
  border-color: #e0e0e0;
}
.e-radiobtn-wrap > span.e-rad-active,
.e-radiobtn-wrap > span.e-rad-active:hover {
  border-color: #ff4081;
}
.e-radiobtn-wrap > span.e-rad-active {
  
}
.e-radiobtn-wrap.e-disable > span.e-rad-active {
  
}
.e-radiobtn-wrap > span.e-rad-active:hover {
  
}
.e-radiobtn-wrap.e-disable > span.e-rad-active:hover {
  
}
.e-radiobtn-wrap > span:hover {
  
}
.e-radiobtn-wrap.e-disable > span:hover {
  
}
.e-radiobtn-wrap.e-focus > span {
  
}
.e-radiobtn-wrap.e-focus > span {
  box-shadow: 0 0 2px #d4d4d4;
}
.e-radiobtn-wrap .e-spanicon {
  box-sizing: content-box;
}
.e-radiobtn-wrap .e-rad-select {
  background: none repeat scroll 0 0 transparent;
}
.e-radiobtn-wrap .e-circle_01 {
  
}
.e-radiobtn-wrap .e-circle_01 {
  color: #3f51b5;
  border-color: #e0e0e0;
}
.e-radiobtn-wrap .e-circle_01 {
  border-color: #ff4081;
  color: #ff4081;
}
.e-radiobtn-wrap .e-circle_01:hover {
  
}
.e-radiobtn-wrap.e-disable .e-circle_01,
.e-radiobtn-wrap.e-disable .e-text {
  
}
.e-radiobtn-wrap.e-disable .e-circle_01,
.e-radiobtn-wrap.e-disable .e-text {
  color: rgba(0, 0, 0, 0.26);
}
.e-radiobtn-wrap .e-text {
  font-family: 'Roboto', Segoe UI, Helvetica Neue, Ubuntu, Arial;
  font-size: 12px;
  color: #212121;
}
.e-radiobtn-wrap .e-text {
  font-size: 13px;
}
.e-radiobtn-wrap span.e-rad-icon.e-icon.e-rad-select:before {
  content: "\e686";
  font-size: 0px;
  color: #ff4081;
}
@keyframes rippleEffect {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 0px #ff4081;
  }
  100% {
    box-shadow: 0 0 0 15px white;
    opacity: 0;
  }
}
@keyframes back_rippleEffect {
  0% {
    box-shadow: 0 0 0 15px white;
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 0px #ff4081;
  }
}
.e-radiobtn-wrap span.e-spanicon.e-rad-active {
  border-radius: 100%;
  z-index: 1;
}
.e-radiobtn-wrap.e-material-animate span.e-spanicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.e-radiobtn-wrap.e-material-animate span.e-spanicon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  opacity: 0;
}
.e-radiobtn-wrap.e-material-animate span.e-spanicon.e-rad-active:after {
  animation: rippleEffect 0.3s linear 0ms;
}
.e-radiobtn-wrap.e-material-animate span.e-spanicon:after {
  animation: back_rippleEffect 0.3s linear 0ms;
}
.e-radiobtn-wrap.e-disable .e-circle_01,
.e-radiobtn-wrap.e-disable span.e-rad-select {
  
}
.e-radiobtn-wrap.e-disable > span {
  
}
.e-radiobtn-wrap.e-disable {
  
}
.e-radiobtn-wrap.e-disable.e-focus > span {
  
}
.e-radiobtn-wrap .e-spanicon.e-radsmaller .e-icon.e-rad-icon,
.e-radiobtn-wrap .e-radmedium .e-rad-icon {
  text-indent: 0px;
}
.e-radiobtn-wrap.e-ie8 .e-spanicon.e-radsmaller .e-icon.e-rad-icon {
  /* IE8 */
  text-indent: 2px;
  line-height: 12px;
  padding: 0.5px;
  font-size: 8px;
  
}
.e-radiobtn-wrap.e-ie8 .e-spanicon.e-radsmaller .e-icon.e-rad-icon {
  /* IE 8 */
  font-size: 10px;
  text-indent: 2.5px;
  line-height: 15px;
}
.e-radiobtn-wrap.e-ie8 .e-radmedium .e-rad-icon {
  /* IE 8 */
  font-size: 9px;
  text-indent: 3px;
  line-height: 15px;
  
}
.e-radiobtn-wrap.e-ie8 .e-radmedium .e-rad-icon {
  /* IE 8 */
  font-size: 12px;
  text-indent: 2px;
  line-height: 18px;
}
.e-radiobtn-wrap.e-rtl .e-spanicon.e-radsmaller .e-icon.e-rad-icon {
  
}
.e-radiobtn-wrap.e-rtl .e-spanicon.e-radsmaller .e-icon.e-rad-icon {
  width: 0.98em;
}
.e-radiobtn-wrap.e-rtl > span.e-radmedium > span.e-rad-icon {
  
}
.e-radiobtn-wrap.e-rtl > span.e-radmedium > span.e-rad-icon {
  width: 1.25em;
}
.e-ie8.e-radiobtn-wrap .e-radmedium.e-spanicon .e-rad-icon.e-icon,
.e-ie8.e-radiobtn-wrap .e-radsmaller.e-spanicon .e-rad-icon.e-icon {
  width: 1.6em;
}
